@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url("../images/pattern-bg.svg"), url("../images/pattern-curve.svg"), url("../images/pattern-quotes.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 750px center, left bottom, 325px 208px;
  background-size: 640px, auto, auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 32px; }
  body #main-container {
    width: 70%;
    min-width: 990px;
    max-width: 1075px;
    height: 500px;
    min-height: 500px;
    margin: 0 auto;
    position: relative; }
    body #main-container .slider-container {
      width: 100%;
      height: 100%;
      display: flex;
      user-select: none;
      position: relative; }
      body #main-container .slider-container .slider-content {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 630px; }
        body #main-container .slider-container .slider-content .info {
          margin-bottom: 1rem;
          margin-top: 5rem;
          color: #202046;
          font-weight: 300;
          font-size: 2rem; }
        body #main-container .slider-container .slider-content .name {
          display: inline;
          font-size: 1rem;
          font-weight: 700; }
        body #main-container .slider-container .slider-content .job {
          font-size: 1rem;
          color: #babacf; }
      body #main-container .slider-container img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        box-shadow: 0px 20px 20px 2px rgba(0, 0, 0, 0.2); }
    body #main-container #controller {
      background-color: white;
      width: 80px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0rem 1rem;
      gap: 1rem;
      position: absolute;
      right: 340px;
      bottom: -20px;
      user-select: none; }
      body #main-container #controller .cursor {
        cursor: pointer;
        padding: 0.5rem 0rem; }

@media screen and (max-width: 992px) {
  body {
    background-image: url("../images/pattern-bg.svg"), url("../images/pattern-curve.svg"), url("../images/pattern-quotes.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center 33px, left bottom, center 365px;
    background-size: 320px, auto, 60px; }
    body #main-container {
      width: 40%;
      min-width: 310px;
      min-height: 80vh; }
      body #main-container .slider-container {
        flex-direction: column;
        align-items: center; }
        body #main-container .slider-container .slider-content {
          order: 2; }
          body #main-container .slider-container .slider-content .info {
            margin-bottom: 1rem;
            text-align: center;
            font-size: 1.1rem;
            margin-top: 5rem; }
          body #main-container .slider-container .slider-content .name {
            display: block;
            font-size: 1.3rem;
            font-weight: 700; }
          body #main-container .slider-container .slider-content .job {
            font-size: 1.3rem;
            color: #babacf; }
          body #main-container .slider-container .slider-content .other {
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: column; }
        body #main-container .slider-container img {
          position: static;
          top: 0;
          right: 0;
          width: 80%;
          max-height: 250px;
          min-height: 250px;
          min-width: 250px;
          max-width: 250px;
          order: 1; }
      body #main-container #controller {
        top: 230px;
        max-height: 34px;
        right: 50%;
        margin-right: -40px;
        width: 80px; } }

.u {
  animation: effect 300ms ease 1; }

.passive {
  pointer-events: none; }

@keyframes effect {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
