@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// colors

$Dark-Blue: hsl(240, 38%, 20%);
$Grayish-Blue: hsl(240, 18%, 77%);

body {
  background-image: url("../images/pattern-bg.svg"),
    url("../images/pattern-curve.svg"), url("../images/pattern-quotes.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 750px center, left bottom, 325px 208px;
  background-size: 640px, auto, auto;

  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;

  #main-container {
    width: 70%;
    min-width: 990px;
    max-width: 1075px;
    height: 500px;
    min-height: 500px;

    margin: 0 auto;
    position: relative;

    .slider-container {
      width: 100%;
      height: 100%;
      display: flex;
      user-select: none;
      position: relative;

      .slider-content {
        // background-color: aqua;
        z-index: 1;
        display: flex;
        flex-direction: column;

        justify-content: center;
        max-width: 630px;

        .info {
          margin-bottom: 1rem;
          margin-top: 5rem;
          color: $Dark-Blue;
          font-weight: 300;
          font-size: 2rem;
        }
        .name {
          display: inline;
          font-size: 1rem;
          font-weight: 700;
        }
        .job {
          font-size: 1rem;
          color: $Grayish-Blue;
        }
      }

      img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        box-shadow: 0px 20px 20px 2px rgba(0, 0, 0, 0.2);
      }
    }

    #controller {
      background-color: white;
      width: 80px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0rem 1rem;
      gap: 1rem;
      position: absolute;
      right: 340px;
      bottom: -20px;
      user-select: none;

      .cursor {
        cursor: pointer;
        padding: 0.5rem 0rem;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  body {
    background-image: url("../images/pattern-bg.svg"),
      url("../images/pattern-curve.svg"), url("../images/pattern-quotes.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center 33px, left bottom, center 365px;
    background-size: 320px, auto, 60px;

    #main-container {
      width: 40%;
      min-width: 310px;
      min-height: 80vh;

      .slider-container {
        flex-direction: column;
        align-items: center;

        .slider-content {
          order: 2;

          .info {
            margin-bottom: 1rem;
            text-align: center;
            font-size: 1.1rem;
            margin-top: 5rem;
          }
          .name {
            display: block;
            font-size: 1.3rem;
            font-weight: 700;
          }
          .job {
            font-size: 1.3rem;
            color: $Grayish-Blue;
          }
          .other {
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: column;
          }
        }

        img {
          position: static;
          top: 0;
          right: 0;
          width: 80%;

          max-height: 250px;
          min-height: 250px;
          min-width: 250px;
          max-width: 250px;

          order: 1;
        }
      }

      #controller {
        top: 230px;
        max-height: 34px;
        right: 50%;
        margin-right: -40px;
        width: 80px;
      }
    }
  }
}

.u {
  animation: effect 300ms ease 1;
}

.passive {
  pointer-events: none;
}

@keyframes effect {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
